.vagrant
jobs/bak/
#external-services/postgres.json
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
artifactory-data
firewall/
.DS_Store
nomad-service.txt
start-redis-cluster.sh
envoy_proxies.txt
